%h1 Choose a day to make your reservation

= month_calendar events: @reservations do |date, reservations|
  = date.day
  - if date > DateTime.now && reservations.count < 7
    .text-center
      %small= "This day has #{7 - reservations.count} available slots!"
      = link_to "Reserve", new_reservation_path(selected_day: date), "class"=>"btn btn-primary btn-sm btn-block"
  - else
    .text-center
      %small This day is not available
