.container.jumbotron
  .row
    .col-md-8.col-sm-12
      %h1.display-1 Welcome to PetFuneral
      %h2 Bury your pet today!
      = image_tag "burial.png", class: "w-50 mx-auto d-block"

    .col-md-4.col-sm-12
      %h2 Log in
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
        .form-group
          = f.label :password
          = f.password_field :password, autocomplete: "current-password", class: "form-control"
        - if devise_mapping.rememberable?
          .form-group
            = f.check_box :remember_me
            = f.label :remember_me
        .actions
          = f.submit "Log in", class: "btn btn-primary"
      %hr
      = render "customers/shared/links"
